<h1>Login </h1>
<div id="result">

</div>
<form id="login-form" class="form-horizontal container">
  <div class="form-group">
    <label for="name" class="cols-sm-2 control-label">Your Key </label>
    <div class="cols-sm-10">
      <div class="input-group">

        <input
          type="text"
          class="form-control"
          name="username"
          id="username"
          placeholder="Enter your Key"
        />
      </div>
      <label for="name" class="cols-sm-2 control-label">Your Password</label>
      <div class="cols-sm-10">
        <div class="input-group">

          <input
            type="password"
            class="form-control"
            name="password"
            id="password"
            placeholder="Enter your Password"
          />
        </div>
        <br />
        <div class="form-group">
          <button
            type="submit"
            class="btn btn-primary btn-lg btn-block login-button"
          >Login</button>
        </div>
      </div>
    </div>

  </div>

</form>

<script type="text/javascript" src="/js/login.js"></script>